body {
	font-family: Arial;
	background-image: url("media/oregon-coast.jpg"); 
	background-size: auto;                   
    background-repeat:   no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}

a {text-decoration:none;}
 
ul {
  list-style: none;
  color:#ffffff;
}

.headers {
	height: 58px;
	width: 100%;
	margin:0 0 0 0;
	border:0 0 0 0;
	padding:0 0 0 0;
	color: #FFFFFF; 
	text-transform: uppercase;
	text-align: center; 
	background-color: #000000;
	position: fixed;
	top:0px;
	left:0px;
	z-index:1;
	
}

.Subhead {
	margin-top:0;
	border-top:0;
	padding-top:0;
}

h1 {
	top:0px;
	width:100%;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 30px;
	text-align: center;
}

h2 {
	width:100%;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	text-align: center;
}

h3 {
	text-align: left;
	margin-left:20px;
	font-size: 50px;
	font-weight: 10px
}

#Description {
	font-family: caslon;
	font-size: 30px;
	text-align: center;
	margin-top: 125px;
	margin-bottom: 20px;
	margin-right: 180px;
	margin-left: 180px;
	min-width: 600px;
	border-radius: 8px;
	background-color:rgba(0, 0, 0, 0.4);
	color: #ffffff;
}

#Links_Section {
	font-family: Helvetica Neue;
	font-size: 30px;
	font-weight: 200;
	text-align: center;
	margin-top: 145px;
	margin-bottom: 80px;
	margin-right: 0px;
	margin-left: 0px;
	min-width: 600px;
	border-radius: 8px;
	background-color:rgba(0, 0, 0, 0.8);
	color: #ffffff;
}

#External_Links {
	margin-top: 81px;
	font-weight: 5px;

}

#Additional_Info {
	text-align: left;
	margin-left:20px;
	font-size: 50px;
	font-weight: 200;
}

#Scroll_Down {
	text-align: center;
	font-family: Helvetica Neue;
	height: 70px;
	font-size: 150px;
	font-weight: 900;
	color: #5a97fc;
}

.highlightit img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.75;
opacity: 0.75;
}


.highlightit:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

a { color:#ffffff }
a:visited { text-decoration: none; color:#ffffff; }
a:hover { text-decoration: none; color:#CBCBCB; }
